.container {
    max-width: 600px;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .card-header {
    background-color: #008080; /* Teal background */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .custom-primary {
    background-color: #008080; /* Sea green */
    border-color: #2e8b57;    /* Match the border color */
    color: white;             /* Text color */
}

.custom-primary:hover {
    background-color: #276c49; /* Slightly darker shade for hover */
    border-color: #276c49;     /* Match the hover border */
}
  
  .card-body {
    padding: 2rem;
  }
  
  .btn-block {
    border-radius: 5px;
  }
  
  .needs-validation .form-control:invalid {
    border-color: #dc3545;
  }
  
  .needs-validation .form-control:invalid:focus {
    box-shadow: none;
  }
  