body, html {
    height: 100%;
    margin: 0;
    overflow: auto;
  }
  
  .container {
    width: 100%;
    margin: auto;
    text-align: center;
    overflow-y: auto; /* Ensure vertical scroll if needed */
    height: 100vh; /* Make sure container height is full view height */
    padding: 20px; /* Add some padding */
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333; /* Darker shade of sea green */
  }
  
  h2 {
    margin-top: 20px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }
  
  ul {
    text-align: left;
    margin: 40px auto;
    padding: 0;
    list-style-type: circle;
    display: inline;
  }
  
  ul li {
    margin: 5px 0;
  }
  