.container {
    max-width: 1000px;
    margin: auto;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #00796b; /* Darker shade of sea green */
  }
  
  h3, h4, h5 {
    margin-top: 20px;
    color: #333;
  }
  
  .list-group-item {
    background-color: #f5f5dc; /* Creamy color */
    color: #333;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-8 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  
  .col-md-4 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  